body {
    font-family: 'Poppins', sans-serif;
}

.beginner-site {
    padding: 20px;
    background-image: url(hero.png);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 120px;

}


.added-background {
    text-align: center;

}

.added-background h1 {
    font-size: 40px;
    display: inline-block;
    text-transform: capitalize;
    padding-top: 120px;
    font-weight: 900;
    color: rgb(235, 231, 231);
}

#side-being {
    padding: 25px;
    font-size: 40px;
}

#sidewise {
    padding: 25px;
    font-size: 40px;
}

#none {
    padding: 25px;
    font-size: 40px;
}

#side {
    padding: 25px;
    font-size: 40px;
}

#back {
    color: red;
    padding: 15px 18px;
    border: 1.5px solid salmon;
    background-color: wheat;

}

.added-background p {
    padding-bottom: 200px;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
    color: rgb(231, 224, 224);

}

.remove-blank {
    text-decoration: none;
    color: rgb(63, 57, 57);
    padding: 20px 60px;
    background-color: orange;
    border-radius: 10px;
    text-align: center;
    font-weight: 900;

}

.middle-point {
    margin-top: 10px;
    margin-bottom: 120px;
    text-align: center;

}

.middle-point h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    text-transform: capitalize;
}

.middle-point p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.middle-point input {
    margin: 25px 35px;
    padding: 17px 26px;
    text-transform: capitalize;
}



.fix {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#backgroung {
    background-color: rgb(115, 160, 160);
    margin-right: 50px;
    background-position: 100px;
}

#coloring {
    background-color: rgb(226, 169, 46);
    margin-right: 50px;
    background-position: 100px;

}

#background {
    background-color: rgb(207, 107, 107);
    margin-right: 50px;
    background-position: 100px;
}

.second-section {
    margin-top: 10px;
    margin-bottom: 120px;

}

.second-title h2 {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;

}

.second-title p {

    font-weight: 900;
    text-align: center;

}

.Money-Perpose {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.donate-title h2 {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

.donate-title p {
    font-weight: 700;
    text-transform: capitalize;
    padding: 20px;
    text-align: center;


}

.Money-button input {
    margin: 25px 35px;
    padding: 17px 25px;
    text-transform: capitalize;
}

.Money-button {
    text-align: center;
}



.fix h1 {
    font-size: 35px;
    padding: 20px;
    color: black;

}

.again-button {
    text-decoration: none;
}

.btn {
    text-align: center;
}

.input-button {
    text-align: center;
}

.input-button input {
    margin: 25px 35px;
    padding: 17px 26px;
    text-transform: capitalize;

}

.btn button {
    padding: 15px 28px;
    margin: 20px 35px;
    background-color: tomato;
    color: white;
    font-weight: 900;
    border: 0.5px solid tomato;
    border-radius: 10px;
}

.middle {
    text-align: center;
    font-weight: 700px;
    background-color: rgb(32, 32, 71);
    color: white;
    background-size: 500px;

}

.simple-line {
    text-align: center;
    font-weight: 100;
}

.donate-plan {
    text-align: center;
    font-weight: 700;
    font-style: bold;
    font-size: 25px;
    margin: 150px;
    padding: 18px;
}

.fix p {
    padding: 20px;
}

.updates {
    text-align: center;
    color: rgb(15, 15, 15);
    font-weight: 900;
    font-size: 20px;
    margin: 100px;
}

.added-paragraph {
    display: flex;
    width: 80%;
    height: 50%;
    margin: 12%;

}

#change {

    margin-top: 100%;
}

.box {
    padding: 50px;


}

.input-email {
    text-align: center;
}


.input-email input {
    background-color: salmon;
    color: black;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    text-align: center;

}

.input-email button {
    width: 15%;
    background-color: brown;
    font-weight: 900;
    height: 47px;
    border-radius: 10px;



}

.middle-point input {
    width: 500px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}